# Feature Engineering: ICU Traversal

In [1]:
import psycopg2
from psycopg2 import extras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools

%matplotlib inline

In [20]:
def cursor_connect(cursor_factory=None):
    """
    Connects to the DB and returns the connection and cursor, ready to use.
    
    Parameters
    ----------
    cursor_factory : psycopg2.extras
    
    Returns
    -------
    (psycopg2.extensions.connection, psycopg2.extensions.cursor)
        A tuple of (psycopg2 connection, psycopg2 cursor).
    """
    #DB connection
    conn = psycopg2.connect(dbname="mimic", user="mimic", host="localhost", port="2345",
                            password="oNuemmLeix9Yex7W")
    if not cursor_factory:
        cur = conn.cursor()
    else:
        cur = conn.cursor(cursor_factory=cursor_factory)
    return conn, cur

def exec_query(query, curs_dict=True):
    """
    Execute query and returns the SQL output.
    
    Parameters
    ----------
    query: string containing SQL SELECT command
    curs_dict: dict cursor factory (output is dict)
    
    Returns
    -------
    rows: list of rows/records (SQL output)
    """
    if curs_dict == True: 
        conn, cur = cursor_connect(psycopg2.extras.DictCursor)
    else:
        conn, cur = cursor_connect()
    cur.execute(query)
    rows = cur.fetchall()
    return rows

## N<sub>readmissions</sub>
Feature: The number of ICU readmissions a patient has had. The value is not tied to a hospital admission and is the same for the same `subjectid`, despite multiple records/rows.

In [24]:
# query
q_icupat="""SELECT * FROM
    (SELECT subject_id, COUNT(icustay_id) AS n_icustays
    FROM icustays
    GROUP BY subject_id) AS sub_q
WHERE n_icustays > 1;"""

# Query output
icupat = exec_query(q_icupat, False)
df_icupat = pd.DataFrame(icu_stay, columns=['subjectid', 'n_icustays'])
df_icupat

n_readm = pd.Series(df_icupat.n_icustays - 1, name='n_readm')
df_icu = pd.concat([df_icupat.subjectid, n_readm], axis=1)
df_icu

      subjectid  n_readm
0             7        1
1            17        1
2            21        1
3            23        1
4            34        1
5            36        2
6            41        1
7            61        1
8            67        1
9            68        2
10           85        1
11           91        1
12           94        1
13          103        1
14          105        1
15          107        2
16          109       37
17          111        1
18          112        1
19          117        1
20          124        3
21          130        1
22          131        1
23          138        2
24          145        2
25          154        2
26          156        1
27          157        1
28          175        1
29          177        3
...         ...      ...
8725      99339        1
8726      99346        2
8727      99361        1
8728      99383        4
8729      99384        3
8730      99408        2
8731      99439        4
8732      99464        1
8733      99469        2
8734      99538        1
8735      99556        2
8736      99562        1
8737      99613        1
8738      99647        1
8739      99650        3
8740      99660        1
8741      99691        1
8742      99712        1
8743      99715        1
8744      99756        2
8745      99781        1
8746      99783        1
8747      99817        3
8748      99822        2
8749      99836        2
8750      99865        1
8751      99883        1
8752      99897        1
8753      99923        1
8754      99982        2

[8755 rows x 2 columns]

## N<sub>trav</sub>
Feature: The number of total ward transfers for each patient's hospital admission.

In [27]:
q_mult= """SELECT subject_id, hadm_id, icustay_id, eventtype,
prev_careunit, curr_careunit, prev_wardid, curr_wardid, intime, outtime, los
FROM transfers;"""
mult_trav = exec_query(q_mult, False)
mult_col = ['subjectid', 'hadmid', 'icustayid', 'eventtype', 'prev_cu', 'curr_cu', 
       'prev_wardid', 'curr_wardid', 'intime', 'outtime', 'los']
df_mult = pd.DataFrame(mult_trav, columns = mult_col)
df_mult.replace(to_replace='', value=np.nan, inplace=True, regex=True)

# filter for ICU patients with readmissions
filter_preadm = list(df_icupat.subjectid)
df_mult_readm = df_mult[df_mult.subjectid.isin(filter_preadm)]

# filter for exclusion of neonate patients
df_mult_readm = df_mult_readm[df_mult_readm['prev_cu'] != 'NWARD']
df_mult_readm = df_mult_readm[df_mult_readm['prev_cu'] != 'NICU']
df_mult_readm = df_mult_readm[df_mult_readm['curr_cu'] != 'NWARD']
df_mult_readm = df_mult_readm[df_mult_readm['curr_cu'] != 'NICU']

In [28]:
df_mult_readm_grp = df_mult_readm.groupby(['subjectid', 'hadmid']).size()
df_mult_readm_grp = df_mult_readm_grp.to_frame(name='n_trav').reset_index()

# join DF on subjectid to add n_icustays col
df_icu1 = pd.merge(df_mult_readm_grp, df_icu, on='subjectid', 
                        how='left')
df_icu1

       subjectid  hadmid  n_trav  n_readm
0             17  161087       4        1
1             17  194023       4        1
2             21  109451       6        1
3             21  111970       2        1
4             23  124321       5        1
5             23  152223       4        1
6             34  115799       4        1
7             34  144319       5        1
8             36  122659       6        2
9             36  165660       5        2
10            36  182104       5        2
11            41  101757       8        1
12            61  176332       5        1
13            61  189535       5        1
14            67  155252       2        1
15            67  186474       7        1
16            68  108329       5        2
17            68  170467       7        2
18            85  112077       4        1
19            85  116630       6        1
20            91  121205       6        1
21            94  140037       6        1
22            94  183686       3        1
23           103  130744       3        1
24           103  133550       3        1
25           105  128744       4        1
26           105  161160       4        1
27           107  174162       3        2
28           107  182383       4        2
29           107  191941       2        2
...          ...     ...     ...      ...
20087      99650  190854       5        3
20088      99650  199859      13        3
20089      99660  168541       3        1
20090      99660  189028       3        1
20091      99691  140367       6        1
20092      99712  159835       5        1
20093      99712  194361       4        1
20094      99715  157586       4        1
20095      99756  145054       3        2
20096      99756  154665       4        2
20097      99756  172485       2        2
20098      99781  147562       3        1
20099      99781  167791       3        1
20100      99783  126090       5        1
20101      99783  174582       4        1
20102      99817  195557      15        3
20103      99822  146997       2        2
20104      99822  163117       4        2
20105      99822  195871       3        2
20106      99836  101018      10        2
20107      99865  189346      12        1
20108      99883  150755       3        1
20109      99883  198523       6        1
20110      99897  162913       3        1
20111      99897  181057       4        1
20112      99923  164914       3        1
20113      99923  192053       5        1
20114      99982  112748       5        2
20115      99982  151454       6        2
20116      99982  183791       2        2

[20117 rows x 4 columns]

## N<sub>icutrav</sub>
Feature: The number of total *ICU* ward transfers for each patient's hospital admission. Only transfers into the ICU, which is assigned a `icustay_id` is accounted for.

In [29]:
df_mult_readm_icu = df_mult_readm[df_mult_readm.icustayid.notnull()==True]
df_mult_readm_hadm = df_mult_readm_icu.groupby(['subjectid', 'hadmid']).size().to_frame('n_icutrav').reset_index()

# join DF  on subjectid to add n_readm col
df_icu2 = pd.merge(df_icu1, df_mult_readm_hadm.loc[:, ['hadmid', 'n_icutrav']], 
                   on='hadmid', how='inner')
df_icu2

       subjectid  hadmid  n_trav  n_readm  n_icutrav
0             17  161087       4        1          1
1             17  194023       4        1          1
2             21  109451       6        1          2
3             21  111970       2        1          1
4             23  124321       5        1          1
5             23  152223       4        1          1
6             34  115799       4        1          1
7             34  144319       5        1          2
8             36  122659       6        2          3
9             36  165660       5        2          1
10            36  182104       5        2          1
11            41  101757       8        1          2
12            61  176332       5        1          2
13            61  189535       5        1          1
14            67  155252       2        1          1
15            67  186474       7        1          3
16            68  108329       5        2          1
17            68  170467       7        2          2
18            85  112077       4        1          2
19            85  116630       6        1          1
20            91  121205       6        1          2
21            94  140037       6        1          2
22            94  183686       3        1          1
23           103  130744       3        1          1
24           103  133550       3        1          1
25           105  128744       4        1          1
26           105  161160       4        1          2
27           107  174162       3        2          1
28           107  182383       4        2          1
29           107  191941       2        2          1
...          ...     ...     ...      ...        ...
19689      99650  158023       5        3          1
19690      99650  199859      13        3          4
19691      99660  168541       3        1          1
19692      99660  189028       3        1          1
19693      99691  140367       6        1          3
19694      99712  159835       5        1          1
19695      99712  194361       4        1          1
19696      99715  157586       4        1          2
19697      99756  145054       3        2          1
19698      99756  154665       4        2          1
19699      99756  172485       2        2          1
19700      99781  147562       3        1          1
19701      99781  167791       3        1          1
19702      99783  126090       5        1          2
19703      99783  174582       4        1          1
19704      99817  195557      15        3          6
19705      99822  146997       2        2          1
19706      99822  163117       4        2          1
19707      99822  195871       3        2          1
19708      99836  101018      10        2          3
19709      99865  189346      12        1          2
19710      99883  150755       3        1          1
19711      99883  198523       6        1          1
19712      99897  162913       3        1          2
19713      99897  181057       4        1          2
19714      99923  164914       3        1          1
19715      99923  192053       5        1          1
19716      99982  112748       5        2          1
19717      99982  151454       6        2          3
19718      99982  183791       2        2          1

[19719 rows x 5 columns]

## N<sub>ICU Stays</sub>
Feature: the number of unique ICU stays for a patient's hospital admission.

In [34]:
# query
q_icustay = """SELECT subject_id, hadm_id, COUNT(DISTINCT icustay_id)
FROM transfers
GROUP BY subject_id, hadm_id;
"""

# Query output
icustay = exec_query(q_icustay, False)
df_icustay = pd.DataFrame(icustay, columns=['subjectid', 'hadmid', 
                                            'n_icustays'])
df_icustay

# join DF  on subjectid to add n_readm col
df_icu3 = pd.merge(df_icu2, df_icustay.loc[:, ['hadmid', 'n_icustays']], 
                   on='hadmid', how='inner')
df_icu3

       subjectid  hadmid  n_trav  n_readm  n_icutrav  n_icustays
0             17  161087       4        1          1           1
1             17  194023       4        1          1           1
2             21  109451       6        1          2           1
3             21  111970       2        1          1           1
4             23  124321       5        1          1           1
5             23  152223       4        1          1           1
6             34  115799       4        1          1           1
7             34  144319       5        1          2           1
8             36  122659       6        2          3           1
9             36  165660       5        2          1           1
10            36  182104       5        2          1           1
11            41  101757       8        1          2           2
12            61  176332       5        1          2           1
13            61  189535       5        1          1           1
14            67  155252       2        1          1           1
15            67  186474       7        1          3           1
16            68  108329       5        2          1           1
17            68  170467       7        2          2           2
18            85  112077       4        1          2           1
19            85  116630       6        1          1           1
20            91  121205       6        1          2           2
21            94  140037       6        1          2           1
22            94  183686       3        1          1           1
23           103  130744       3        1          1           1
24           103  133550       3        1          1           1
25           105  128744       4        1          1           1
26           105  161160       4        1          2           1
27           107  174162       3        2          1           1
28           107  182383       4        2          1           1
29           107  191941       2        2          1           1
...          ...     ...     ...      ...        ...         ...
19689      99650  158023       5        3          1           1
19690      99650  199859      13        3          4           3
19691      99660  168541       3        1          1           1
19692      99660  189028       3        1          1           1
19693      99691  140367       6        1          3           2
19694      99712  159835       5        1          1           1
19695      99712  194361       4        1          1           1
19696      99715  157586       4        1          2           2
19697      99756  145054       3        2          1           1
19698      99756  154665       4        2          1           1
19699      99756  172485       2        2          1           1
19700      99781  147562       3        1          1           1
19701      99781  167791       3        1          1           1
19702      99783  126090       5        1          2           1
19703      99783  174582       4        1          1           1
19704      99817  195557      15        3          6           4
19705      99822  146997       2        2          1           1
19706      99822  163117       4        2          1           1
19707      99822  195871       3        2          1           1
19708      99836  101018      10        2          3           3
19709      99865  189346      12        1          2           2
19710      99883  150755       3        1          1           1
19711      99883  198523       6        1          1           1
19712      99897  162913       3        1          2           1
19713      99897  181057       4        1          2           1
19714      99923  164914       3        1          1           1
19715      99923  192053       5        1          1           1
19716      99982  112748       5        2          1           1
19717      99982  151454       6        2          3           1
19718      99982  183791       2        2          1           1

[19719 rows x 6 columns]

## Traversal Pairs

In [43]:
df_trav_copy = df_mult_readm_icu.copy()
df_trav_copy.prev_cu.fillna('nonicu', inplace=True)
df_trav_copy.curr_cu.fillna('nonicu', inplace=True)
df_trav_copy['trans'] = df_trav_copy.prev_cu+'-'+df_trav_copy.curr_cu

df_toppairs = df_trav_copy.trans.value_counts(ascending=False).to_frame()
df_top = df_toppairs.transpose().iloc[:, 0:11] # transpose to columns

In [36]:
list(df_top.columns)

['nonicu-MICU',
 'nonicu-SICU',
 'nonicu-CCU',
 'nonicu-CSRU',
 'nonicu-TSICU',
 'MICU-MICU',
 'CSRU-CSRU',
 'SICU-SICU',
 'TSICU-TSICU',
 'CCU-CCU',
 'CCU-MICU']

In [64]:
from collections import Counter
# a = dict(Counter(df_trav_copy[df_trav_copy.subjectid==34].trans))
# a['subjectid']=34
# a

sid = list(df_trav_copy.subjectid.value_counts().index) # unique subject_id

main_d = dict()
for subj in sid:
    pair_d = dict(Counter(df_trav_copy[df_trav_copy.subjectid==subj].trans))
    pair_d['subjectid'] = subj # add subjectid key
    main_d[subj] = pair_d

In [66]:
df_pairct = pd.DataFrame.from_dict(main_d, orient='index')

# drop non-top trans pair cols
pairs_drop = list(df_toppairs.iloc[10:].index)
df_pairct.drop(pairs_drop, axis=1, inplace=True) 

df_icu4 = pd.merge(df_icu3, df_pairct, on='subjectid', how='left')
df_icu4

,subjectid,hadmid,n_trav,n_readm,n_icutrav,n_icustays,nonicu-MICU,nonicu-SICU,nonicu-TSICU,nonicu-CSRU,MICU-MICU,TSICU-TSICU,nonicu-CCU,CCU-CCU,CSRU-CSRU,SICU-SICU
0,17,161087,4,1,1,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,17,194023,4,1,1,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,21,109451,6,1,2,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
3,21,111970,2,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
4,23,124321,5,1,1,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,23,152223,4,1,1,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
6,34,115799,4,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
7,34,144319,5,1,2,1,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
8,36,122659,6,2,3,1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN
9,36,165660,5,2,1,1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN
10,36,182104,5,2,1,1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN
11,41,101757,8,1,2,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
12,61,176332,5,1,2,1,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
13,61,189535,5,1,1,1,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
14,67,155252,2,1,1,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
15,67,186474,7,1,3,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
16,68,108329,5,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,68,170467,7,2,2,2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,85,112077,4,1,2,1,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
19,85,116630,6,1,1,1,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
20,91,121205,6,1,2,2,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
21,94,140037,6,1,2,1,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
22,94,183686,3,1,1,1,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
23,103,130744,3,1,1,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,103,133550,3,1,1,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,105,128744,4,1,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,105,161160,4,1,2,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,107,174162,3,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,107,182383,4,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,107,191941,2,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19689,99650,158023,5,3,1,1,1.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
19690,99650,199859,13,3,4,3,1.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
19691,99660,168541,3,1,1,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19692,99660,189028,3,1,1,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19693,99691,140367,6,1,3,2,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19694,99712,159835,5,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19695,99712,194361,4,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19696,99715,157586,4,1,2,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19697,99756,145054,3,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19698,99756,154665,4,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19699,99756,172485,2,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19700,99781,147562,3,1,1,1,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19701,99781,167791,3,1,1,1,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19702,99783,126090,5,1,2,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN
19703,99783,174582,4,1,1,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN
19704,99817,195557,15,3,6,4,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN
19705,99822,146997,2,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19706,99822,163117,4,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19707,99822,195871,3,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19708,99836,101018,10,2,3,3,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19709,99865,189346,12,1,2,2,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19710,99883,150755,3,1,1,1,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
19711,99883,198523,6,1,1,1,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
19712,99897,162913,3,1,2,1,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
19713,99897,181057,4,1,2,1,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
19714,99923,164914,3,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19715,99923,192053,5,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19716,99982,112748,5,2,1,1,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,2.0,NaN
19717,99982,151454,6,2,3,1,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,2.0,NaN
19718,99982,183791,2,2,1,1,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,2.0,NaN

## Average ICU LOS
Feature (Response): The average length of stay in the ICU (`icustay_id`) for each patient's hospital admission.
  * Feature is the response/dependent variable (`y`)

**Note**: The overall hospital admission LOS may be extracted by taking the aggregate mean of the DataFrame, after it has been grouped by `subject_id`.

In [40]:
# Average ICU LOS
avgiculos = df_mult_readm_icu.groupby(['subjectid', 'hadmid'])['los'].mean()
df_avgiculos = avgiculos.to_frame(name='avg_iculos').reset_index()

# Merge
df_icu5 = pd.merge(df_icu4, df_avgiculos.loc[:,['hadmid', 'avg_iculos']], on='hadmid', how='left')
# df_icu2.groupby(['subjectid'])['avg_iculos'].mean() # overall LOS
df_icu5

,subjectid,hadmid,n_trav,n_readm,n_icutrav,n_icustays,nonicu-MICU,nonicu-SICU,nonicu-TSICU,nonicu-CSRU,MICU-MICU,TSICU-TSICU,nonicu-CCU,CCU-CCU,CSRU-CSRU,SICU-SICU,avg_iculos
0,17,161087,4,1,1,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,21.110000
1,17,194023,4,1,1,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,49.700000
2,21,109451,6,1,2,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,70.825000
3,21,111970,2,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,200.750000
4,23,124321,5,1,1,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,28.470000
5,23,152223,4,1,1,1,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,30.340000
6,34,115799,4,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,17.280000
7,34,144319,5,1,2,1,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,18.690000
8,36,122659,6,2,3,1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,54.873333
9,36,165660,5,2,1,1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,104.360000
10,36,182104,5,2,1,1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,26.630000
11,41,101757,8,1,2,2,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,78.495000
12,61,176332,5,1,2,1,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,30.710000
13,61,189535,5,1,1,1,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,48.220000
14,67,155252,2,1,1,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.160000
15,67,186474,7,1,3,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,13.893333
16,68,108329,5,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.560000
17,68,170467,7,2,2,2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.280000
18,85,112077,4,1,2,1,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,23.895000
19,85,116630,6,1,1,1,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,53.650000
20,91,121205,6,1,2,2,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,47.660000
21,94,140037,6,1,2,1,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,274.770000
22,94,183686,3,1,1,1,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,26.370000
23,103,130744,3,1,1,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.570000
24,103,133550,3,1,1,1,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.330000
25,105,128744,4,1,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.870000
26,105,161160,4,1,2,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.315000
27,107,174162,3,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.350000
28,107,182383,4,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.930000
29,107,191941,2,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.450000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19689,99650,158023,5,3,1,1,1.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,89.870000
19690,99650,199859,13,3,4,3,1.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,120.930000
19691,99660,168541,3,1,1,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.890000
19692,99660,189028,3,1,1,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.370000
19693,99691,140367,6,1,3,2,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.390000
19694,99712,159835,5,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.840000
19695,99712,194361,4,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.900000
19696,99715,157586,4,1,2,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.380000
19697,99756,145054,3,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.170000
19698,99756,154665,4,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.540000
19699,99756,172485,2,2,1,1,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.110000
19700,99781,147562,3,1,1,1,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.650000
19701,99781,167791,3,1,1,1,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.780000
19702,99783,126090,5,1,2,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,373.875000
19703,99783,174582,4,1,1,1,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,31.890000
19704,99817,195557,15,3,6,4,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,45.101667
19705,99822,146997,2,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.920000
19706,99822,163117,4,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.100000
19707,99822,195871,3,2,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.620000
19708,99836,101018,10,2,3,3,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.810000
19709,99865,189346,12,1,2,2,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.755000
19710,99883,150755,3,1,1,1,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,48.740000
19711,99883,198523,6,1,1,1,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,30.610000
19712,99897,162913,3,1,2,1,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,19.315000
19713,99897,181057,4,1,2,1,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,10.010000
19714,99923,164914,3,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.990000
19715,99923,192053,5,1,1,1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.650000
19716,99982,112748,5,2,1,1,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,2.0,NaN,118.630000
19717,99982,151454,6,2,3,1,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,2.0,NaN,63.593333
19718,99982,183791,2,2,1,1,NaN,NaN,NaN,1.0,NaN,NaN,2.0,NaN,2.0,NaN,148.080000